<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/pages/head.ejs %>
  </head>
  <body class="<%= classname %>">
    <% include partials/pages/header.ejs %>

    <div class="container">
      <h1><%= title %></h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </p>
    </div> <!-- container -->

  <% include partials/pages/footer.ejs %>

  <% include partials/pages/javascripts.ejs %>
  </body>
</html>